.divManager
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: linear-gradient(to bottom,#0E0E0E 0,rgba(22,22,22,.9) 75%,rgba(22,22,22,.8) 100%);
    margin-bottom: 8%;
    height: 800px;
    align-content: center;


}
.textAboutMe
{
    color: var(--color-font);
    padding: 25px;
    position: relative;
    align-content: center;
    text-align: center;
    font-size: 14px;

}
.textAboutMe h5
{
    font-size: 20px;
    margin: 0 0 10px 0 ;
}

@media screen and (max-width: 1000px)
{
    .textAboutMe{width: 80%}
}