.aboutMeContent
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.aboutMeHeadline
{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 35px;
    font-weight: bold;
    padding: 8% 0 2% 0;
}
.aboutMeIcons
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 3% 0 0 0;
}
.aboutMeIcons .aboutMeIconsWrapper
{
    text-align: center;
}
.aboutMeIcons .aboutMeIconsWrapper .icon
{
    height: 80px;
    width: 80px;
}
.aboutMeIcons .aboutMeIconsWrapper h5
{
    font-size: 22px;
    margin: 10px 0 0 0;
}
.aboutMeText
{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 4% 0 4% 0;
}
.aboutMeText p
{
    color: black;
    font-size: 20px;
}
.aboutMeText p b
{
    color: black;
    font-size: 30px;
}

@media screen and (max-width: 1200px)
{
    .aboutMeHeadline{font-size: 28px}
    .aboutMeIcons .aboutMeIconsWrapper .icon{height: 60px; width: 60px;}
    .aboutMeIcons .aboutMeIconsWrapper h5{font-size: 18px}
    .aboutMeText p b{font-size: 24px}
    .aboutMeText p {font-size: 16px}
}

@media screen and (max-width: 1000px)
{
    .aboutMeHeadline{font-size: 24px}
    .aboutMeIcons .aboutMeIconsWrapper .icon{height: 60px; width: 60px;}
    .aboutMeIcons {margin: 5% 0 3% 0}
    .aboutMeIcons .aboutMeIconsWrapper h5{font-size: 18px}
    .aboutMeText p b{font-size: 22px}
    .aboutMeText p {font-size: 14px}
}
@media screen and (max-width: 500px)
{
    .aboutMeHeadline{font-size: 22px; text-align: center}
    .aboutMeIcons {margin: 7% 0 3% 0;}
    .aboutMeIcons .aboutMeIconsWrapper .icon{height: 45px; width: 45px;}
    .aboutMeIcons .aboutMeIconsWrapper h5{font-size: 16px}
    .aboutMeText {margin: 3% 0 3% 0;padding: 4%;}
    .aboutMeText p b{font-size: 18px}
    .aboutMeText p {font-size: 14px; padding: 4%}
}