/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.aboutMe
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.about-me-content
{
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3.125rem 0 0 0;
    width: 80%;
}
.about-me-description
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 2.5rem 0;
}
.about-me-description h2
{
    text-align: center;
    font-size: 2.188rem;
    margin: 0;
    padding: 0;
    width: 80%;
}
.about-me-description h3
{
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
    margin: 0;
    padding: 0 0 0.625rem 0;
    width: 80%;
}
.about-me-description h3 span
{
    color: var(--color-primary);
}
.about-me-description h4
{
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-font-tertiary);
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.about-me-headline
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.about-me-text
{
    font-size: 1.25rem;
    padding: 1.25rem 0 1.25rem 0;
    text-align: center;
    line-height: 1.4;
    width: 80%;
}

.about-me-text p
{
    padding: 1.25rem 0 0 0;
}
.download-cv-btn
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--color-primary);
    width: 7.5rem;
    border-radius: 0.313rem;
    padding: 0.625rem 0.938rem 0.625rem 0.938rem;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.download-cv-btn:hover
{
    background-color: var(--backgroundColor-button-hover);
}
.download-cv-text
{
    font-weight: 500;
    color: var(--color-font-secondary);
    font-size: 1rem; 
    padding-right: 0.625rem; 
    letter-spacing: 0.125rem; 
}
.fa-file-arrow-down
{
    color: var(--color-font-secondary);
    font-size: 1.125rem; 
    margin-top: 0.1875rem;
}
.about-me-skills
{
    width: 80%;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5rem 0 2.5rem 0;
}
.about-me-skills h4
{
    text-align: center;
    font-size: 2.125rem;
    margin: 0;
    padding: 1.25rem 0 1.25rem 0;
}
.skill-technologie-icon
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 2.5rem 0 2.5rem 0;
}
.skill-technologie-icon a img
{
    height: 2.813rem;
    width: 2.813rem;
}

@media screen and (max-width: 1200px)
{
    .about-me-description h3 
    {
        font-size: 3.125rem; 
    }
    .about-me-text 
    {
        font-size: 1.125rem;
    }
    .about-me-skills 
    {
        padding: 2.5rem 0; 
    }
}

@media screen and (max-width: 1000px)
{
    .about-me-description h3 
    {
        font-size: 2.625rem;
    }
    .about-me-skills h4 
    {
        font-size: 1.5625rem; 
    }
    .about-me-text
    {
        font-size: 1.125rem; 
    }
    .about-me-skills 
    {
        padding: 2.1875rem 0; 
    }
}

@media screen and (max-width: 900px)
{
    
    .about-me-content 
    {
        padding: 1.875rem 0 0;
    }
    .about-me-description 
    {
        padding: 0 0 1.25rem 0; 
    }
    .about-me-description h3 
    {
        font-size: 2.1875rem;
        padding: 0;
    }
    .about-me-skills 
    {
        padding: 1.5625rem 0; 
    }
    .about-me-skills h4 
    {
        font-size: 1.375rem; 
    }
    .about-me-text 
    {
        font-size: 1rem; 
    }
    .skill-technologie-icon 
    {
        padding: 1.875rem 0; 
    }
    .skill-technologie-icon a img 
    {
        height: 2.5rem; 
        width: 2.5rem; 
    }
    .download-cv-text 
    {
        font-size: 0.875rem; 
    }
}
@media screen and (max-width: 500px)
{
    .aboutMe 
    {
        padding: 0;
    }
    .about-me-description h3 
    {
        font-size: 1.6rem; 
        padding: 0;
    }
    .about-me-skills 
    {
        padding: 0.625rem 0 0.625rem 0; 
    }
    .about-me-skills h4 
    {
        font-size: 1.25rem; 
    }
    .about-me-text 
    {
        font-size: 0.875rem; 
    }
    .skill-technologie-icon 
    {
        padding: 1.25rem 0 1.25rem 0; 
    }
    .skill-technologie-icon a img 
    {
        height: 2.1875rem; 
        width: 2.1875rem; 
    }
    .about-me-content 
    {
        padding: 1.25rem 0 0rem 0; 
    }
    .about-me-description 
    {
        padding: 0 0 1.25rem 0; 
    }
    .download-cv-text
    {
        font-size: 0.75rem; 
    }
}