footer
{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    color: white;
    background: url("../images/dice-426204.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.footerContent
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.footerCard
{
    width: 20%;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1%;
    border-radius: 2px;
    font-size: 16px;
}
.footerCard h5
{
    font-size: 18px;
    margin: 0 0 5% 0;
    border-bottom: 2px solid #0f5dc4;
}
.footerIcon
{
    padding: 2%;
}

.footerIcon img
{
    filter: invert(100%) sepia(100%) saturate(31%) hue-rotate(67deg) brightness(106%) contrast(108%);
}

@media screen and (max-width: 1200px)
{
    .contactBox p{font-size: 26px;}
    .mailContact{height: 320px;}
    .mailContact a button{width: 200px; height: 50px; font-size: 16px}
    .footerCard{font-size: 14px;}
    .footerCard h5{font-size: 16px;}
}

@media screen and (max-width: 1000px)
{
    footer{height: 850px}
    .contactBox p{margin: 0 0 5% 0}
}
@media screen and (max-width: 800px)
{
    .footerContent{height: 260px; flex-direction: column; margin-bottom: 60px}
    .footerCard{width: 50%; font-size: 12px; margin: 2%}
}

@media screen and (max-width: 500px)
{
    .mailContact img{height: 40px; width: 40px}
    .contactBox p{font-size: 22px}

}

