footer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    color: white;
}

.contactBox
{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    background: url("../images/dice-426204.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.contactBox .mailContact p
{
    font-size: 35px;
    margin: 0 0 2% 0;
    letter-spacing: 2px;
}
.mailContact
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mailContact img
{
    height: 50px;
    width: 50px;
}
.mailContact span
{
    color: white
}
.mailContact a
{
    color: white;
}
.mailContact  a button
{
    margin: 0;
    letter-spacing: 2px;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button
{
    font-family: var(--fontfamily-global);
    background-color: var(--color-background-button);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover
{
 background-color: var(--backgroundColor-button-hover);
}
.footer-data
{
    background-color: #15171B;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 4% 0 4% 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -1.95px 2.6px;
}

.footer-copyright
{
    font-size: 16px;
    width: 33.3%;
    text-align: center;
}
.footer-copyright::after 
{
    content: "\A";
    white-space: pre;
}

.footer-icons
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 33.3%;
}

.footer-icons a
{
    text-decoration: none;
}

.github-account img
{
    height: 45px;
    width: 45px;
}

.linkedin-account img
{
    height: 45px;
    width: 45px;
}

.xing-account img
{
    height: 45px;
    width: 45px;
}

.footer-impressum
{
    font-size: 16px;
    width: 33.3%;
    display: flex;
    justify-content: center;
}

.footer-impressum a:hover
{
    text-decoration: underline;
}
.footer-impressum a
{
    text-decoration: none;
    color: white;
}
.footer-impressum a:visited
{
    color: white;
}

@media screen and (max-width: 1200px)
{
    .footer-copyright {font-size: 14px;}
    .footer-impressum a{font-size: 14px;}
    .github-account img
    {
        height: 40px;
        width: 40px;
    }

    .linkedin-account img
    {
        height: 40px;
        width: 40px;
    }

    .xing-account img
    {
        height: 40px;
        width: 40px;
    }
}

@media screen and (max-width: 1000px)
{
    .github-account img
    {
        height: 35px;
        width: 35px;
    }

    .linkedin-account img
    {
        height: 35px;
        width: 35px;
    }

    .xing-account img
    {
        height: 35px;
        width: 35px;
    }
}
@media screen and (max-width: 800px)
{
    .contactBox{height: 400px;}
    .footer-copyright {font-size: 12px;}
    .footer-impressum a{font-size: 12px;}
    .github-account img{height: 30px; width: 30px;}
    .linkedin-account img{height: 30px; width: 30px;}
    .xing-account img{height: 30px; width: 30px;}
    .contactBox .mailContact p{font-size: 26px}
    .mailContact img{height: 40px; width: 40px;}
}

@media screen and (max-width: 500px)
{
    .contactBox{height: 250px;}
    .footer-copyright::after { content: "";}
    .footer-impressum a{font-size: 10px;}
    .footer-icons{width: 30%;}
    .github-account img{height: 30px; width: 30px;}
    .linkedin-account img{height: 30px; width: 30px;}
    .xing-account img{height: 30px; width: 30px;}
    .mailContact a button{font-size: 14px; padding: 10px 28px;}
    .contactBox .mailContact p{font-size: 20px}
    .mailContact img{height: 35px; width: 35px;}
}

