:root {
    /* Globale Farben */
    --color-font: black;
    --color-background-header: white;
    --color-background-hover: white;
    --color-font-header: white;
    --color-hyperlink: white;
    --color-background-slider: #0f5dc4;
    --color-h4:#0f5dc4;
    --color-h5:#0f5dc4;
    --color-background-body: white;
    --color-border-div: white;
    --color-font-body: white;
    --color-background-main: #0f5dc4;
    --div-background-color: #0f5dc4;
    --color-background-footer: white;
    --color-background-button: #184e98 ;

    /* Globale Schriftarten */
    --fontfamily-global: 'Roboto Condensed', sans-serif;
}

