:root {
    /* Globale Farben */
    --color-font: #15171B;
    --color-font-secondary: white;
    --color-font-tertiary: grey;
    --color-background-header: white;
    --color-background-hover: white;
    --color-font-header: white;
    --color-hyperlink: white;
    --color-background-slider: #0f5dc4;
    --color-h4:#0f5dc4;
    --color-h5:#0f5dc4;
    --color-background-body: white;
    --color-border-div: white;
    --color-font-body: white;
    --color-background-main: #0f5dc4;
    --div-background-color: #0f5dc4;
    --color-background-footer: #15171B;
    --color-background-button: #0f5dc4 ;
    --color-primary: #0f5dc4;
    --color-secondary: #15171B;
    --backgroundColor-button-hover: #0F4FA3;
}

