/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.topPresentation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-bottom: 70px;
}
.topPresentationImage
{
    width: 550px;
    height: 550px;
}
.topPresentationText
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.helloText
{
    font-size: 80px;
    font-weight: 600;
    color: var(--color-primary);
}
.presentationText
{
    font-size: 48px;
    font-weight: 600;
}

@media screen and (max-width: 1000px)
{
    .topPresentation
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 40px;
    }
    .topPresentationText
    {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .presentationText
    {
        text-align: center;
    }
}

@media screen and (max-width: 900px)
{
    .topPresentation
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 40px;
    }
    .topPresentationImage
    {
        width: 450px;
        height: 450px;
    }
    .topPresentationText
    {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .helloText
    {
        font-size: 65px;
        padding-bottom: 10px;
    }
    .presentationText
    {
        font-size: 32px;
        text-align: center;
    }
}
@media screen and (max-width: 500px)
{
    .topPresentationImage
    {
        width: 350px;
        height: 350px;
    }
    .helloText
    {
        font-size: 50px;
        padding-bottom: 10px;
    }
    .presentationText
    {
        font-size: 24px;
    }
}