/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.topPresentation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100dvh;
}
.topPresentationImage
{
    width: 550px;
    height: 550px;
}
.context 
{
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: absolute;
}
.text-content
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 60%;
}
.slogan-text
{
    color: var(--color-font-secondary);
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
}
.sub-text
{
    color: var(--color-font-secondary);
    font-size: 30px;
    font-weight: 500;
}
.contact-btn
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: var(--color-primary);
    width: 150px;
    border-radius: 5px;
    padding: 12px;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    border: 2px solid white;
}
.contact-btn:hover
{
    background: var(--color-primary);
    color: white;
}
.contact-btn-text
{
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.contact-btn:hover .contact-btn-text
{
    color: white;
}
@media screen and (max-width: 1200px)
{
    .context 
    {
        height: 450px;
    }
    .text-content
    {
       
    }
    .slogan-text
    {
        font-size: 70px;
    }
    .sub-text
    {
        font-size: 28px;
    }
    .contact-btn
    {
        width: 120px;
        padding: 10px;
        text-decoration: none;
        border: 2px solid white;
    }
    .contact-btn-text
    {
        font-size: 18px;
    }
}

@media screen and (max-width: 1000px)
{
    .topPresentation
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 40px;
    }
    .context 
    {
        height: 400px;
    }
    
    .slogan-text
    {
        font-size: 65px;
    }
    .sub-text
    {
        font-size: 26px;
    }
    .contact-btn
    {
        width: 120px;
        padding: 10px;
        text-decoration: none;
        border: 2px solid white;
    }
    .contact-btn-text
    {
        font-size: 16px;
    }
}

@media screen and (max-width: 900px)
{
    .topPresentation
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 40px;
    }
    .topPresentationImage
    {
        width: 450px;
        height: 450px;
    }
    .topPresentationText
    {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .context 
    {
        height: 340px;
    }
    .slogan-text
    {
        font-size: 50px;
    }
    .sub-text
    {
        font-size: 22px;
    }
    .contact-btn
    {
        width: 100px;
        padding: 10px;
        text-decoration: none;
        border: 1.5px solid white;
    }
    .contact-btn-text
    {
        font-size: 14px;
    }

}
@media screen and (max-width: 700px)
{
    
    .context 
    {
        height: 300px;
    }
    .slogan-text
    {
        font-size: 45px;
    }
    .sub-text
    {
        font-size: 20px;
    }
    .contact-btn
    {
        width: 100px;
        padding: 10px;
        text-decoration: none;
        border: 1.5px solid white;
    }
    .contact-btn-text
    {
        font-size: 14px;
    }
}
@media screen and (max-width: 500px)
{
    .topPresentationImage
    {
        width: 350px;
        height: 350px;
    }
    .context 
    {
        height: 280px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .slogan-text
    {
        font-size: 40px;
        text-align: center;
    }
    .sub-text
    {
        font-size: 16px;
        text-align: center;
    }
    .contact-btn
    {
        width: 100px;
        padding: 10px;
        text-decoration: none;
        border: 1.5px solid white;
    }
    .contact-btn-text
    {
        font-size: 14px;
    }
}