/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.impressum-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 0% 0;
    height: 450px;
}
.impressum-container p
{
    color: var(--color-font);
    font-size: 18px;
}
.impressum-content
{
    width: 90%;
    text-align: center;
}
.impressum-content h1
{
    font-size: 40px;
    padding: 0;
    margin: 0;
}
.impressum-content-adress
{
    padding: 20px 0 20px 10px;
}
.impressum-content h2
{
    padding: 0px 0 0 0;
    margin: 0;
    font-size: 22px;
}
.impressum-content-contact
{
    padding: 20px 0 20px 10px;
}

@media screen and (max-width: 1000px)
{
    .impressum-container p
    {
        font-size: 16px;
    }
    .impressum-content h1
    {
        font-size: 35px;
    }
    .impressum-content h2
    {
        font-size: 20px;
    }
}
@media screen and (max-width: 800px)
{
    .impressum-container p
    {
        font-size: 14px;
    }
    .impressum-content h1
    {
        font-size: 30px;
    }
    .impressum-content h2
    {
        font-size: 18px;
    }
   
}

@media screen and (max-width: 500px)
{
   
}

