/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#menu
{
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.625rem 0;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
#menu.scrolled 
{
    background-color: #15171B;
}
#menu a
{
    text-decoration: none;
}
#logo
{
    background: var(--color-background-header);
    list-style: none;
    padding: 0 0 0 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
#logo.scrolled
{
    background-color: #15171B; 
}
#first-name
{
    font-size: 2.8125rem;
    font-weight: 700;
    color: var(--color-primary);
    padding-right: 0.625rem;
}
#last-name
{
    font-size: 2.8125rem;
    font-weight: 700;
    color: var(--color-font);
}
#menuIcon
{
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.fa-bars
{
    color: var(--color-primary);
}
.fa-xmark 
{
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
nav
{
   /* border-top: solid 2px var(--color-background-body);
    border-bottom: solid 2px var(--color-background-body);*/
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    width: 18.75rem;
    right: 5%;

}
#navItems
{
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    background: var(--color-background-header);
}
#navItems.scrolled
{
    background-color: #15171B;
}
nav h1
{
    position: absolute;
    margin-left: 8.125rem;
    font-size: 1.375rem;
}
nav a
{
    font-weight:700;
    font-size: 1.125rem;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 0;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.activeLink
{
    color: #0f5dc4 !important;
}
@-webkit-keyframes foldInSmooth
{
    from
    {
        opacity: 1;
    }
    to
    {
        opacity: 0;
    }
}
@keyframes foldInSmooth
{
    from
    {
        opacity: 1;
    }
    to
    {
        opacity: 0;
    }
}

@-webkit-keyframes unfoldSmooth
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes unfoldSmooth
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
@media all and(max-width: 1000px)
{
    nav ul {-ms-flex-wrap: wrap;flex-wrap: wrap;}
    nav li {-webkit-box-flex: 1;-ms-flex: 1 1 50%;flex: 1 1 50%}
}
@media all and(max-width: 480px)
{
    nav li {-ms-flex-preferred-size: 100%;flex-basis: 100%;}
}

@media screen and (min-width: 900px)
{
    #menu a.icon{font-size: 0; width: 0; height: 0;}
}

@media screen and (max-width: 1200px)
{
    nav a{font-size: 1.125rem}
}

@media screen and (max-width: 900px)
{
    h4{font-size: 2.5rem}
    p{font-size: 0.9375rem}
    #first-name
    {
        font-size: 2.5rem;
    }
    #last-name
    {
        font-size: 2.5rem;
    }

    #menu nav 
    {
        display: none;
    }

    #menuIcon
    {
        padding: 0 5% 0 0 ;
    }
    #navLinkLogo
    {
        padding: 0 !important;
        border: none !important;
        width: 0% !important;
    }
    .navLink 
    {
        padding: 0.9375rem 0 0.9375rem 1.5rem;
        text-decoration: none;
        font-size: 0.9375rem;
        display: block;
    }

    #menu a.icon 
    {
        display: block;
        position: absolute;
        right: 0%;
        font-size: 2.5rem;
    }

    #menu a:hover 
    {
        color: var(--color-primary);
    }

    #logo 
    {
        padding: 0 0 0 1.5rem;
    }

    @media screen and (max-width: 500px)
    {
        .logo{height: 4.375rem}
        #first-name
        {
            font-size: 1.875rem;
        }
        #last-name
        {
            font-size: 1.875rem;
        }
        #menu a.icon{font-size: 1.875rem;}
        .navLink 
        {
            font-size: 0.875rem;
        }

    }
}