.project-detail-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.project-detail-headlines 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-bottom: 10px;
}
.project-detail-headlines h1
{
    font-size: 56px;
    font-weight: 600;
    padding: 0 0 0px 0;
    margin: 0;

}
.project-detail-content h3
{
    font-size: 16px;
    font-weight: 500;
    color: grey;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    width: 80%;
}
.project-detail-description
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: start;
    line-height: 1.3em;
    font-size: 22px;
    padding: 40px 0 40px 0;
    width: 80%;
}
.repo-btn
{
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
    width: 120px;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    align-items: center;
    transition: background-color 0.3s ease;
}
.repo-btn:hover
{
    background-color: var(--backgroundColor-button-hover);
}
.repo-link-text
{
    font-weight: 500;
    color: var(--color-font-secondary);
    font-size: 16px;
    padding-right: 10px;
    letter-spacing: 2px;
}
.project-detail-images
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    padding: 20px 0 20px 0;
    margin: 0;
}
#clickable-slider-images
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    padding: 0px 0 40px 0;
    margin: 0;
}
.clickable-image 
{
    padding: 0;
    margin: 10px;
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 0.5rem;
}
.active, .clickable-image:hover
{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.clickable-image img
{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 0.5rem;
}
.project-detail-technologies
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 40px 0 40px 0;
}
.project-detail-technologies h2
{
    font-size: 30px;
    padding: 0 0 20px 0;
    margin: 0;
}
.technologies-icons
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    margin: 0;
    width: 100%;
}
.project-repo
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1200px)
{
    .clickable-image 
    {
        height: 80px;
        width: 80px;
    }
    .clickable-image img
    {
        height: 80px;
        width: 80px;
    }
}

@media screen and (max-width: 1000px)
{
    .project-detail-headlines h1
    {
        font-size: 35px;
    }
    .project-detail-content h3
    {
        font-size: 12px;
    }
    .project-detail-description
    {
        font-size: 18px;
        padding: 20px 0 20px 0;
        font-size: 16px;
    }
    .project-detail-images
    {
        padding: 20px 0 20px 0;
    }
    .project-detail-technologies h2
    {
        font-size: 26px;
    }
    .technologies-icons a img
    {
        height: 40px;
        width: 40px;
    }
    .repo-btn
    {
        width: 100px;
    }
    .repo-link-text
    {
        font-size: 14px;
    }
    .repo-btn img
    {
        height: 20px;
        width: 20px;
    }
}

@media screen and (max-width: 700px)
{
    .project-detail-images
    {
        padding: 10px 0 10px 0;
    }
    #clickable-slider-images
    {
        padding: 0px 0 0px 0;
    }
    .clickable-image 
    {
        height: 60px;
        width: 60px;
    }
    .clickable-image img
    {
        height: 60px;
        width: 60px;
    }
}
@media screen and (max-width: 500px)
{
    .project-detail-headlines h1
    {
        font-size: 32px;
    }
    .project-detail-content h3
    {
        font-size: 12px;
    }
    .project-detail-description
    {
        font-size: 14px;
        padding: 20px 0 20px 0;
    }
    .project-detail-images
    {
        padding: 0px 0 0px 0;
    }
    .project-detail-technologies h2
    {
        font-size: 18px;
    }
    .technologies-icons a img
    {
        height: 30px;
        width: 30px;
    }
    .project-detail-content
    {
        padding-bottom: 0px;
    }
    .repo-btn
    {
        width: 80px;
    }
    .repo-link-text
    {
        font-size: 12px;
    }
    .repo-btn img
    {
        height: 15px;
        width: 15px;
    }
    .clickable-image 
    {
        height: 50px;
        width: 50px;
    }
    .clickable-image img
    {
        height: 50px;
        width: 50px;
    }
}