.project
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.project-info
{
    border-top: 1px solid grey; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    padding-top: 50px;
}

.project-headline
{
    display: flex;
    flex-direction: column;
}
.headline-topic
{
    font-size: 56px;
    font-weight: 600;
    padding-bottom: 20px;
}
.headline-sub
{
    font-size: 16px;
    color: grey;
    text-transform: uppercase;
}

.project-description
{
    display: flex;
    flex-direction: column;
}
.description-text
{
    line-height: 1.3em;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.description-btn
{
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
    width: 100px;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}
.description-btn:hover
{
    background-color: var(--backgroundColor-button-hover);
}
.description-link-text
{
    font-weight: 500;
    color: var(--color-font-secondary);
    font-size: 16px;
    padding-right: 10px;
    letter-spacing: 2px;
}
.fa-arrow-right
{
    color: var(--color-font-secondary);
    font-size: 18px;
    margin-top: 3px;
}

.project-image
{
    display: flex;
    padding: 20px 0 20px 0;
}
.project-image-src
{
    width: 800px;
}

@media screen and (max-width: 1200px)
{
    .headline-topic
    {
        font-size: 50px;
    }
    .headline-sub
    {
        font-size: 14px;
        text-align: center;
    }
    .description-text
    {
        font-size: 18px;
    }
    .description-link-text
    {
        font-size: 16px;
    }
    .project-image-src
    {
        width: 700px;
    }
}

@media screen and (max-width: 1000px)
{
    .project-info
    {
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
    }
    .project-description
    {
        align-items: center;
    }
    .headline-topic
    {
        font-size: 42px;
    }
    .headline-sub
    {
        font-size: 12px;
    }
    .description-text
    {
        font-size: 18px;
    }
    .description-link-text
    {
        font-size: 16px;
    }
    .project-image-src
    {
        width: 600px;
    }
}

@media screen and (max-width: 900px)
{
    .project
    {
        padding-bottom: 30px;
    }
    .project-info
    {
        padding-top: 30px;
        align-items: center;
    }
    .project-description
    {
        align-items: center;
    }
    .project-image-src
    {
        width: 450px;
    }
    .headline-topic
    {
        font-size: 35px;
    }
    .headline-sub
    {
        font-size: 12px;
    }
    .description-text
    {
        font-size: 16px;
    }
    .description-btn
    {
        width: 100px;
        padding: 10px;
    }
    .description-link-text
    {
        font-weight: 500;
        font-size: 14px;
        padding-right: 10px;
    }
    .fa-arrow-right
    {
        font-size: 14px;
        margin-top: 3px;
    }

}
@media screen and (max-width: 500px)
{
   
    .project-info
    {
        padding-top: 20px;
        align-items: center;
    }
    .project-description
    {
        align-items: center;
    }
    .project
    {
        padding-bottom: 20px;
    }
    .project-info
    {
        flex-direction: column;
    }
    .project-image-src
    {
        width: 350px;
    }
    .headline-topic
    {
        font-size: 30px;
    }
    .headline-sub
    {
        font-size: 10px;
    }
    .description-text
    {
        font-size: 14px;
    }
    .description-btn
    {
        width: 80px;
        padding: 10px;
    }
    .description-link-text
    {
        font-weight: 500;
        font-size: 12px;
        padding-right: 10px;
    }
    .fa-arrow-right
    {
        font-size: 12px;
        margin-top: 3px;
    }
}