/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.project
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 50px;
    width: 100%;

}

.project-info
{
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-top: 1px solid var(--color-font-tertiary); 
    width: 80%;
    padding-top: 50px;
}

.project-headline
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.headline-topic
{
    font-size: 56px;
    font-weight: 600;
    padding-bottom: 10px;
}
.headline-sub
{
    font-size: 16px;
    color: var(--color-font-tertiary);
    text-transform: uppercase;
}

.project-description
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.description-text
{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.4;
}
.description-btn
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: var(--color-primary);
    width: 120px;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.description-btn:hover
{
    background-color: var(--backgroundColor-button-hover);
}
.description-link-text
{
    font-weight: 500;
    color: var(--color-font-secondary);
    font-size: 16px;
    padding-right: 10px;
    letter-spacing: 2px;
}
.fa-arrow-right
{
    color: var(--color-font-secondary);
    font-size: 18px;
    margin-top: 3px;
}

.project-image
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 40px 0 40px 0;
}
.project-image-src
{
    width: 1000px;
    border-radius: 0.5rem;
}

@media screen and (max-width: 1200px)
{
    .headline-topic
    {
        font-size: 50px;
    }
    .headline-sub
    {
        font-size: 14px;
    }
    .description-text
    {
        font-size: 18px;
    }
    .description-link-text
    {
        font-size: 16px;
    }
    .project-image-src
    {
        width: 700px;
    }
}

@media screen and (max-width: 1000px)
{
    .project-info
    {
        padding-top: 30px;
    }
    .headline-topic
    {
        font-size: 42px;
    }
    .headline-sub
    {
        font-size: 12px;
    }
    .description-text
    {
        font-size: 18px;
    }
    .description-link-text
    {
        font-size: 16px;
    }
    .project-image-src
    {
        width: 600px;
    }
}

@media screen and (max-width: 900px)
{
    .project
    {
        padding-bottom: 30px;
    }
    .project-info
    {
        padding-top: 30px;
     
    }
    .project-image
    {
        padding: 20px 0 20px 0;
     
    }
    .project-image-src
    {
        width: 450px;
    }
    .headline-topic
    {
        font-size: 35px;
    }
    .headline-sub
    {
        font-size: 12px;
    }
    .description-text
    {
        font-size: 16px;
    }
    .description-btn
    {
        width: 100px;
        padding: 10px;
    }
    .description-link-text
    {
        font-weight: 500;
        font-size: 14px;
        padding-right: 10px;
    }
    .fa-arrow-right
    {
        font-size: 14px;
        margin-top: 3px;
    }
}
@media screen and (max-width: 500px)
{
   
    .project-info
    {
        padding-top: 20px;
       
    }
    .project
    {
        padding-bottom: 20px;
    }
    .project-image
    {
        padding: 0px 0 20px 0;
    }

    .project-image-src
    {
        width: 350px;
    }
    .headline-topic
    {
        font-size: 30px;
    }
    .headline-sub
    {
        font-size: 12px;
    }
    .description-text
    {
        font-size: 14px;
        padding-top: 15px;
    }
    .description-btn
    {
        width: 80px;
        padding: 10px;
    }
    .description-link-text
    {
        font-weight: 500;
        font-size: 12px;
        padding-right: 10px;
    }
    .fa-arrow-right
    {
        font-size: 12px;
        margin-top: 3px;
    }
}