/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.project-detail-content
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 7.5rem 0 0 0;
}
.project-detail-headlines 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    padding-bottom: 0.225rem;
}
.project-detail-headlines h1
{
    font-size: 3.5rem;
    font-weight: 600;
    padding: 0 0 0 0;
    margin: 0;

}
.sub-headline
{
    font-size: 1rem;
    font-weight: 500;
    color: grey;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    width: 80%;
}
.project-detail-description
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: start;
    font-size: 1.25rem;
    padding: 1.25rem 0 0.625rem 0;
    width: 80%;
    line-height: 1.4;
}
.repo-btn
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: var(--color-primary);
    width: 7.5rem;
    border-radius: 0.3125rem;
    padding: 0.625rem;
    text-decoration: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.repo-btn:hover
{
    background-color: var(--backgroundColor-button-hover);
}
.repo-link-text
{
    font-weight: 500;
    color: var(--color-font-secondary);
    font-size: 1rem;
    padding-right: 0.625rem;
    letter-spacing: 0.125rem;
}
.project-detail-images
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    padding: 2.5rem 0 1.25rem 0;
    margin: 0;
}
#clickable-slider-images
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    padding: 0 0 2.5rem 0;
    margin: 0;
}
.clickable-image 
{
    padding: 0;
    margin: 0.625rem;
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 0.5rem;
    border: none;
}
.active, .clickable-image:hover
{
    -webkit-box-shadow: rgba(0, 0, 0, 0.529) 0 0.1875rem 0.375rem, rgba(0, 0, 0, 0.23) 0 0.1875rem 0.375rem;
            box-shadow: rgba(0, 0, 0, 0.529) 0 0.1875rem 0.375rem, rgba(0, 0, 0, 0.23) 0 0.1875rem 0.375rem;
}
.clickable-image img
{
    height: 6.25rem;
    width: 6.25rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0.5rem;
}
.key-datas
{
    width: 80%;
    padding: 0 0 0 0;
}
.key-datas h3
{
    font-size: 1.375rem;
    margin: 1rem 0 1rem 0;
}
.key-datas h4
{
    font-size: 1.25rem;
    margin: 1rem 0 1rem 0;
}
.key-datas ul
{
    list-style-type: square;
    margin: 1rem 0 1rem 0;
}
.key-datas li
{
    font-size: 1.25rem;
    margin-left: 2.5rem;
}
.key-datas li::marker 
{
    color: var(--color-primary);
}
.key-datas span
{
    font-size: 1.25rem;
}
.project-detail-technologies
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    padding: 2.5rem 0 2.5rem 0;
}
.project-detail-technologies h2
{
    font-size: 2.125rem;
    padding: 0 0 1.25rem 0;
    margin: 0;
}
.technologies-icons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2.5rem 0 2.5rem 0;
    margin: 0;
    width: 80%;
}
.technologies-icons a img 
{
    width: 5rem;
    height: 5rem;
}
.project-repo
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media screen and (max-width: 1200px)
{
    .project-detail-content
    {
        margin: 6.25rem 0 0 0;
    }
    .clickable-image 
    {
        height: 5rem;
        width: 5rem;
    }
    .clickable-image img
    {
        height: 5rem;
        width: 5rem;
    }
}

@media screen and (max-width: 1000px)
{
    
    .project-detail-headlines h1
    {
        font-size: 2.1875rem;
    }
    .sub-headline
    {
        font-size: 0.875rem;
    }
    .project-detail-description
    {
        font-size: 1rem;
        padding: 0.625rem 0 0 0;
    }
    .project-detail-images
    {
        padding: 1.25rem 0 1.25rem 0;
    }
    .project-detail-technologies h2
    {
        font-size: 1.75rem;
    }
    .technologies-icons
    {
        padding: 1.875rem 0 1.875rem 0;
    }
    .technologies-icons a img
    {
        height: 3.75rem;
        width: 3.75rem;
    }
    .repo-btn
    {
        width: 6.25rem;
    }
    .repo-link-text
    {
        font-size: 0.875rem;
    }
    .repo-btn img
    {
        height: 1.25rem;
        width: 1.25rem;
    }
    .key-datas h3
    {
        font-size: 1.125rem;
    }
    .key-datas h4
    {
        font-size: 1rem;
    }
    .key-datas li
    {
        font-size: 1rem;
    }
    .key-datas span
    {
        font-size: 1rem;
    }
}

@media screen and (max-width: 700px)
{
    .project-detail-content
    {
        margin: 5.625rem 0 0 0;
    }
    #clickable-slider-images
    {
        padding: 0 0 0 0;
    }
    .clickable-image 
    {
        height: 3.75rem;
        width: 3.75rem;
    }
    .clickable-image img
    {
        height: 3.75rem;
        width: 3.75rem;
    }
    .technologies-icons
    {
        padding: 1.25rem 0 1.25rem 0;
    }
    .technologies-icons a img
    {
        height: 3.125rem;
        width: 3.125rem;
    }
}
@media screen and (max-width: 500px)
{
    .project-detail-content
    {
        margin: 4.6875rem 0 0 0;
    }
    .project-detail-headlines h1
    {
        font-size: 1.6rem;
    }
    .project-detail-content h3
    {
        font-size: 0.75rem;
    }
    .project-detail-description
    {
        font-size: 0.875rem;
        
    }
    .project-detail-images
    {
        padding: 1.25rem 0 0.625rem 0;
    }
    .project-detail-technologies h2
    {
        font-size: 1.375rem;
    }
    .technologies-icons a img
    {
        height: 2.5rem;
        width: 2.5rem;
    }
    .project-detail-technologies
    {
        padding: 1.875rem 0 0 0;
    }
    .project-detail-content
    {
        padding-bottom: 0;
    }
    .repo-btn
    {
        width: 5rem;
    }
    .repo-link-text
    {
        font-size: 0.75rem;
    }
    .repo-btn img
    {
        height: 0.9375rem;
        width: 0.9375rem;
    }
    .clickable-image 
    {
        height: 3.125rem;
        width: 3.125rem;
    }
    .clickable-image img
    {
        height: 3.125rem;
        width: 3.125rem;
    }
    .key-datas
    {
        
    }
    .key-datas h3
    {
        font-size: 1rem;
    }
    .key-datas h4
    {
        font-size: 0.875rem;
    }
    .key-datas li
    {
        font-size: 0.875rem;
    }
    .key-datas span
    {
        font-size: 0.875rem;
    }
}