.slider-wrapper
{
    width: 80%;
    position: relative;
    margin: 0 auto;
}
.mySlides
{
    background: black;
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0 1.5rem 3rem -75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}
.imageSlider
{
    width: 100%;
    flex: 1 0 100%;
    object-fit: cover;
}
video
{
    height: 95%;
    display: block;
    margin: 15px auto;
    width: 50%;
}

.prev, .next {
    background-color: rgba(255,255,255,0);
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    font-weight: bold;
    font-size: 60px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next
{
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover
{
    background-color: rgba(255,255,255,0);
}
.prev i:hover, .next i:hover
{
    color: #DADADA;
}
.grabbing
{
    cursor: grabbing;
}
.author
{
    color: cornflowerblue;
}
.animate-left
{
    position: relative;
    animation: animateleft 2.4s
}
@keyframes animateleft {
    from { left :0; opacity:0 } to { left:0; opacity:1 }
}

@media screen and (max-width: 1200px)
{
    .text p{font-size: 40px}
    .text{margin-top: -154px; height: 150px}


}

@media screen and (max-width: 1000px)
{
    .text p{font-size: 35px; margin: 6% 5% 0 5%;}
    .text b{font-size: 35px; }
    .text{margin-top: -154px; height: 150px}

    .slider-wrapper
    {
        width: 600px;
    }
    video
    {
        margin: 10px auto;
    }
}

@media screen and (max-width: 900px)
{
    .slider-wrapper
    {
        width: 450px;
    }
}

@media screen and (max-width: 700px)
{
    .prev, .next{font-size: 40px;}

    video
    {
        margin: 7px auto;
    }
}

@media screen and (max-width: 500px)
{
    .prev, .next{font-size: 40px;}
    .text p{font-size: 18px; margin: 6% 5% 0 5%;}
    .text b{font-size: 19px; }
    .text{margin-top: -104px; height: 100px; display: flex; align-items: center}

    .slider-wrapper
    {
        width: 350px;
    }
    video
    {
        margin: 0px auto;
    }
}