.slideshow-container
{
    position: relative;
    background: var(--color-background-body);

}
.mySlides
{
    display: none;
    text-align: center;
    position: relative;
}
.imageSlider
{
    width: 100%;
    height: 650px;
    object-fit: cover;
}
.text
{
    position: absolute;
    margin-top: -204px;
    width: 100%;
    height: 200px;
    background: linear-gradient(transparent, black);

}
.text p
{
    color: white;
    font-size: 50px;
    text-align: left;
    margin: 5% 0 0 4%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}
.prev, .next {
    background-color: rgba(255,255,255,0);
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    font-weight: bold;
    font-size: 60px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next
{
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover
{
    background-color: rgba(255,255,255,0);
}
.author
{
    color: cornflowerblue;
}
.animate-left
{
    position: relative;
    animation: animateleft 1.8s
}
@keyframes animateleft {
    from { left :0; opacity:0 } to { left:0; opacity:1 }
}

@media screen and (max-width: 1000px)
{
    .slideshow-container{display: none}
}

