/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.slider-wrapper
{
    width: 80%;
    position: relative;
    margin: 0 auto;
}
.mySlides
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-box-shadow: 0 1.5rem 3rem -75rem hsla(0, 0%, 0%, 0.25);
            box-shadow: 0 1.5rem 3rem -75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}
.imageSlider
{
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%; 
    -o-object-fit: cover;
       object-fit: cover;
}
video
{
    height: 95%;
    display: block;
    margin: 15px auto;
    width: 50%;
}

.animate-left
{
    position: relative;
    -webkit-animation: animateleft 2.4s;
            animation: animateleft 2.4s
}
@-webkit-keyframes animateleft {
    from { left :0; opacity:0 } to { left:0; opacity:1 }
}
@keyframes animateleft {
    from { left :0; opacity:0 } to { left:0; opacity:1 }
}

@media screen and (max-width: 1200px)
{
    .text p{font-size: 40px}
    .text{margin-top: -154px; height: 150px}
}

@media screen and (max-width: 1000px)
{
    .text p{font-size: 35px; margin: 6% 5% 0 5%;}
    .text b{font-size: 35px; }
    .text{margin-top: -154px; height: 150px}

    .slider-wrapper
    {
        width: 600px;
    }
    video
    {
        margin: 10px auto;
    }
}

@media screen and (max-width: 900px)
{
    .slider-wrapper
    {
        width: 450px;
    }
}

@media screen and (max-width: 700px)
{
    .prev, .next{font-size: 40px;}
    video
    {
        margin: 7px auto;
    }
}

@media screen and (max-width: 500px)
{
    .prev, .next{font-size: 40px;}
    .text p{font-size: 18px; margin: 6% 5% 0 5%;}
    .text b{font-size: 19px; }
    .text{margin-top: -104px; height: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center}

    .slider-wrapper
    {
        width: 350px;
    }
    video
    {
        margin: 0px auto;
    }
}