#pictures
{
    display: flex;
}
.picture
{
    border-style: solid;
    border-color: white;
    background: var(--div-background-color);
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.icon
{
    filter: invert(25%) sepia(94%) saturate(1591%) hue-rotate(201deg) brightness(92%) contrast(99%);
}
.divManagerStartseite
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3% 8% 6% 8%;
}
.textContainerStartseite
{
    background: var(--color-background-body);
    color: var(--color-font);
    padding: 25px;
    margin: 3% 0 3% 0;
    position: relative;
    align-content: center;
    text-align: center;
    width: 25%;
    font-size: 14px;
    letter-spacing: 1px;
}
.textContainerStartseite h5
{
    font-size: 28px;
    margin: 3% 0 5% 0 ;
    color: var(--color-h5);
}
@media screen and (max-width: 1000px)
{
    .textContainerStartseite{width: 20%}
}

@media screen and (max-width: 800px)
{
    .divManagerStartseite{padding: 10% 0 0 0;}
    .textContainerStartseite{width: 80%; margin:0}
    .textContainerStartseite h5 {font-size: 20px}
}