.textContact
{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
}
#contact
{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
input[type=text],input[type=email]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
textarea
{
    resize: vertical;
    width: 100%;
    min-height: 100px;
    max-height: 250px;
    box-sizing: border-box;
    margin-top: 8px;
}
button
{
    font-family: var(--fontfamily-global);
    background-color: var(--color-background-button);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}
button:hover
{
    color: black;
    background: white;
}
