:root {
    /* Globale Farben */
    --color-background-header: #184e98;
    --color-background-hover: #0f5dc4;
    --color-font-header: white;
    --color-hyperlink: white;
    --color-background-slider: #0f5dc4;
    --color-background-body: #0f5dc4;
    --color-border-div: white;
    --color-font-body: white;
    --color-background-main: #0f5dc4;
    --div-background-color: #0f5dc4;
    --color-background-footer: #184e98;

    /* Globale Schriftarten */
    --fontfamily-global: Copperplate, Papyrus, fantasy;
}

