.background-media
{
    width: 100%;
    height: 650px;
    position: absolute;

}
#galerie
{
    list-style: none;
}
.mediaContent
{
    float: left;
    margin: 20px 30px 20px 30px;
    padding: 0.1em;
    width: 200px;
    height: 200px;
    position: relative;
    border: 3px solid var(--color-border-div);
    border-radius: 1em;
    background: var(--div-background-color);
}

.mediaContent img
{
    margin-left: 30px;
    margin-top: 4px;
    border: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 10em;
    transition: all 1s;

}

.mediaContent:focus img,
.mediaContent:hover img
{
    border: 10px solid #eee;
    border-radius: 1em;
    box-shadow: 1px 1px 5px #333;
    width: 300%;
    position: absolute;
    left: -4%;
    top: -4%;
    z-index: 5;
    transition: all 1s;
}
