.slides {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 600px;
}

.animate-left {
    position: relative;
    animation: animateleft 1.8s
}

@keyframes animateleft {
    from { left :-100px; opacity:0 } to { left:0; opacity:1 }
}