.slideshow-container
{
    position: relative;
    background: var(--color-background-header);
}
.mySlides
{
    -webkit-box-shadow: 2px 1px 16px -2px rgba(0,0,0,0.53);
    box-shadow: 2px 1px 16px -2px rgba(0,0,0,0.53);
    display: none;
    text-align: center;
    padding-top: 20px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
}
.imageSlider
{
    height: 650px;
}
.text
{
    position: absolute;
    margin-top: -103px;
    width: 100%;
    height: 100px;
    background: rgba(24,78,152,0.8);
}
.text p
{

    color: white;
    font-size: 26px;
    margin-top: 34px;
}
.prev, .next {
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next
{
    font-size: 24px;
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: white;
    color: black;
}

.author {color: cornflowerblue;}

.animate-left
{
    position: relative;
    animation: animateleft 1.8s
}
@keyframes animateleft {
    from { left :0; opacity:0 } to { left:0; opacity:1 }
}

