.simpleSlides
{

}
img
{
    object-fit: cover;
}
.slides {
    display: none;
    width: 100%;
    height: 650px;

}
.animate-left {
    position: relative;
    animation: animateleft 1.8s
}

@keyframes animateleft {
    from { left :0; opacity:0 } to { left:0; opacity:1 }
}