html
{
    background-image: url("../images/1077.jpg");
}
.logo
{
    background: var(--color-background-header) ;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
h1
{
    background: var(--color-background-header) ;
    font-size: 24px;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    color: white;
    letter-spacing: 1px;
    padding-bottom: 15px;
}
h3
{
    -webkit-box-shadow: 2px 1px 16px -2px rgba(0,0,0,0.53);
    box-shadow: 2px 1px 16px -2px rgba(0,0,0,0.53);
    font-size: 24px;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    color: white;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
}
h4
{
    font-size: 24px;
    list-style: none;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: white;
    letter-spacing: 1px;
    padding-top: 25px;

}
.hr
{
    border-top: solid 1px white;
    margin-bottom: 20px;
}
ul li a
{
    color: black;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    background: white;
    padding: 20px 5px;
    display: inline-block;
    width: 98%;
    text-align: center;
    margin: 0;
}
ul li a:hover
{
    color: black;
    background: white;
}
.activeLink
{
    color: white;
    background: var(--color-background-body);
    cursor: pointer;
}
nav ul
{
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    background: var(--color-background-header) ;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li
{
    flex: 3;
}
nav h1
{
    position: absolute;
    color: white;
    margin-left: 130px;
    font-size: 22px;
}
body
{
    font-family: var(--fontfamily-global);
    margin: auto;
    width: 100%;
}
main
{
    -webkit-box-shadow: 2px 1px 16px -2px rgba(0,0,0,0.53);
    box-shadow: 2px 1px 16px -2px rgba(0,0,0,0.53);
    max-width: 80%;
    margin: 0 auto;
    background:  var(--color-background-body);
}
p
{
    margin: 0;
}
footer
{
    display:flex;
    color: white;
    background: var(--color-background-footer);
    font-family: var(--fontfamily-global);
    height: 100px;
    width: 100%;
    margin: auto;
    justify-content: center;
    bottom:0;
    text-align: center;
    border-top: solid 2px white;
}
footer p
{
    padding-top: 40px;
    word-spacing: 5px;

}

@media all and(max-width: 1000px)
{
    nav ul {flex-wrap: wrap;}
    nav li {flex: 1 1 50%}
    nav .logo {flex: 1 1 33% 33%}
}
@media all and(max-width: 480px)
{
    nav li {flex-basis: 100%;}
    nav .logo {flex-basis: 50%;}
}