.logo
{
    background: var(--color-background-header) ;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
h1
{
    background: var(--color-background-header) ;
    font-size: 24px;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    color: white;
    letter-spacing: 1px;
    padding-bottom: 15px;
}
a {
    color: white;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    background: var(--color-background-header); /* angegucken wie rgb funktioniert*/
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
a:hover
{
    color: black;
    background: white;
}
nav ul {
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    background: var(--color-background-header) ;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}
nav li
{
    flex: 3;
}
nav h1
{
    position: absolute;
    color: white;
    margin-left: 130px;
    font-size: 22px;
}
body
{
    font-family: var(--fontfamily-global);
    margin: 0;
}
main
{
    max-width: 100%;
    margin: 0 auto;
    padding: 30px;
    background:  var(--color-background-body);
}
p
{
    margin: 0;
}
footer
{
    display:flex;
    color: white;
    background: var(--color-background-footer);
    font-family: var(--fontfamily-global);
    height: 100px;
    width: 100%;
    margin: auto;
    justify-content: center;
    bottom:0;
    text-align: center;
}
@media all and(max-width: 1000px)
{
    nav ul {flex-wrap: wrap;}
    nav li {flex: 1 1 50%}
    nav .logo {flex: 1 1 33% 33%}
}
@media all and(max-width: 480px)
{
    nav li {flex-basis: 100%;}
    nav .logo {flex-basis: 50%;}
}