/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.project
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 3.125rem;
    width: 100%;

}

.project-info
{
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
    padding-top: 3.125rem;
}

.project-headline
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.headline-topic
{
    font-size: 3.5rem;
    font-weight: 600;
    padding-bottom: 0.625rem;
}
.headline-sub
{
    font-size: 1rem;
    color: var(--color-font-tertiary);
    text-transform: uppercase;
}

.project-description
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.description-text
{
    font-size: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    line-height: 1.4;
}
.description-btn
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: var(--color-primary);
    width: 7.5rem;
    border-radius: 0.3125rem;
    padding: 0.625rem;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.description-btn:hover
{
    background-color: var(--backgroundColor-button-hover);
}
.description-link-text
{
    font-weight: 500;
    color: var(--color-font-secondary);
    font-size: 1rem;
    padding-right: 0.625rem;
    letter-spacing: 0.125rem;
}
.fa-arrow-right
{
    color: var(--color-font-secondary);
    font-size: 1.125rem;
    margin-top: 0.1875rem;
}

.project-image
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 2.5rem 0 2.5rem 0;
}
.project-image-src
{
    width: 62.5rem;
    border-radius: 0.5rem;
}
hr
{
    border: none;
    height: 0.0625rem;
    background: linear-gradient(to right, rgba(168, 168, 168, 0.3), rgb(168, 168, 168), rgba(168, 168, 168, 0.3));
}
@media screen and (max-width: 1200px)
{
    .headline-topic
    {
        font-size: 3.125rem;
    }
    .headline-sub
    {
        font-size: 0.875rem;
    }
    .description-text
    {
        font-size: 1.125rem;
    }
    .description-link-text
    {
        font-size: 1rem;
    }
    .project-image-src
    {
        width: 43.75rem;
    }
}

@media screen and (max-width: 1000px)
{
    .project-info
    {
        padding-top: 1.875rem;
    }
    .headline-topic
    {
        font-size: 2.625rem;
    }
    .headline-sub
    {
        font-size: 0.75rem;
    }
    .description-text
    {
        font-size: 1.125rem;
    }
    .description-link-text
    {
        font-size: 1rem;
    }
    .project-image-src
    {
        width: 37.5rem;
    }
}

@media screen and (max-width: 900px)
{
    .project
    {
        padding-bottom: 1.875rem;
    }
    .project-info
    {
        padding-top: 1.875rem;
     
    }
    .project-image
    {
        padding: 1.25rem 0 1.25rem 0;
     
    }
    .project-image-src
    {
        width: 28.125rem;
    }
    .headline-topic
    {
        font-size: 2.1875rem;
    }
    .headline-sub
    {
        font-size: 0.75rem;
    }
    .description-text
    {
        font-size: 1rem;
    }
    .description-btn
    {
        width: 6.25rem;
        padding: 0.625rem;
    }
    .description-link-text
    {
        font-weight: 500;
        font-size: 0.875rem;
        padding-right: 0.625rem;
    }
    .fa-arrow-right
    {
        font-size: 0.875rem;
        margin-top: 0.1875rem;
    }
}
@media screen and (max-width: 500px)
{
   
    .project-info
    {
        padding-top: 1.25rem;
       
    }
    .project
    {
        padding-bottom: 1.25rem;
    }
    .project-image
    {
        padding: 0 0 1.25rem 0;
    }

    .project-image-src
    {
        width: 21.875rem;
    }
    .headline-topic
    {
        font-size: 1.875rem;
    }
    .headline-sub
    {
        font-size: 0.75rem;
    }
    .description-text
    {
        font-size: 0.875rem;
        padding-top: 0.9375rem;
    }
    .description-btn
    {
        width: 5rem;
        padding: 0.625rem;
    }
    .description-link-text
    {
        font-weight: 500;
        font-size: 0.75rem;
        padding-right: 0.625rem;
    }
    .fa-arrow-right
    {
        font-size: 0.75rem;
        margin-top: 0.1875rem;
    }
}