/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.slider-wrapper
{
    width: 80%;
    position: relative;
    margin: 0 auto;
}
.mySlides
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-box-shadow: 0 1.5rem 3rem -75rem hsla(0, 0%, 0%, 0.25);
            box-shadow: 0 1.5rem 3rem -75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}
.imageSlider
{
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%; 
    -o-object-fit: cover;
       object-fit: cover;
}
video
{
    height: 95%;
    display: block;
    margin: 0.9375rem auto;
    width: 50%;
}

.animate-left
{
    position: relative;
    -webkit-animation: animateleft 0.4s;
            animation: animateleft 0.4s
}
@-webkit-keyframes animateleft {
    from { left :0; opacity:0 } to { left:0; opacity:1 }
}
@keyframes animateleft {
    from { left :0; opacity:0 } to { left:0; opacity:1 }
}

@media screen and (max-width: 1200px)
{
    .text p{font-size: 2.5rem}
    .text{margin-top: -9.625rem; height: 9.375rem}
}

@media screen and (max-width: 1000px)
{
    .text p{font-size: 2.1875rem; margin: 6% 5% 0 5%;}
    .text b{font-size: 2.1875rem; }
    .text{margin-top: -9.625rem; height: 9.375rem}

    .slider-wrapper
    {
        width: 37.5rem;
    }
    video
    {
        margin: 0.625rem auto;
    }
}

@media screen and (max-width: 900px)
{
    .slider-wrapper
    {
        width: 28.125rem;
    }
}

@media screen and (max-width: 700px)
{
    .prev, .next{font-size: 2.5rem;}
    video
    {
        margin: 0.4375rem auto;
    }
}

@media screen and (max-width: 500px)
{
    .prev, .next{font-size: 2.5rem;}
    .text p{font-size: 1.125rem; margin: 6% 5% 0 5%;}
    .text b{font-size: 1.1875rem; }
    .text{margin-top: -6.5rem; height: 6.25rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center}

    .slider-wrapper
    {
        width: 21.875rem;
    }
    video
    {
        margin: 0 auto;
    }
}